<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>영화제목</th>
        <th>상영일</th>
        <th>상영시작시간</th>
        <th>상영종료시간</th>
        <th>관</th>
        <th>층</th>
        <th>총좌석</th>
        <th>선택</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="schedule : ${schedules}">
        <td th:text="${schedule.movieName}" />
        <td th:text="${schedule.screeningDate}" />
        <td th:text="${schedule.screeningStartTime}" />
        <td th:text="${schedule.screeningEndTime}" />
        <td th:text="${schedule.theaterNumber}" />
        <td th:text="${schedule.theaterFloor}" />
        <td th:text="${schedule.seatQuantity}" />
        <td>
            <form th:action="@{/api/admin/schedule/delete/{scheduleNumber}(scheduleNumber=${schedule.scheduleNumber})}" method="post" onclick="showAlert()">
                <input type="submit" th:value="삭제"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>

<script>
    function showAlert() {
        alert("상영일정 삭제가 완료됐습니다!");
    }
</script>