<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Seoul-Cinema</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->

    <!--        테스트용-->
    <!--    <link href="../static/css/styles.css" rel="stylesheet"/>-->
    <!--        배포용-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />

</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/admin/home">Seoul Cinema</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" href="/admin/movie-management">영화관리</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/participant-management">관계자관리</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/schedule-management">상영일정관리</a></li>
                <!--                <li class="nav-item"><a class="nav-link" href="/admin/discount-management">할인관리</a></li>-->
            </ul>
            <a class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <span th:unless="${loggedIn}" class="not-logged-in"><a href="/admin/login">로그인</a></span>
                    <span th:if="${loggedIn}" class="logged-in"><a href="/api/admin/auth/logout">로그아웃</a></span>
                </button>

            </a>
        </div>
    </div>
</nav>

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Seoul Cinema 관리자 페이지</h1>
            <p class="lead fw-normal text-white-50 mb-0">데이터베이스 설계 수업</p>
        </div>
    </div>
</header>

<div class="container">
    <main>

        <div class="py-5 text-center">
            <h2>영화 관계자 정보 수정 입력</h2>
        </div>

        <form th:action="@{/api/admin/participants-put/{participantNumber}(participantNumber=${participantNumber})}" method="POST">
            <label for="name">관계자 이름:</label>
            <input type="text" id="name" name="participantName" required><br><br>

            <label for="role">관계자 역할:</label>
            <select id="role" name="participantType" required>
                <option value="">선택하세요</option>
                <option value="ACTOR">배우</option>
                <option value="DIRECTOR">감독</option>
                <option value="DISTRIBUTOR">배급사</option>
            </select><br><br>

            <input type="submit" value="수정하기">
        </form>
    </main>
</div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{js/scripts.js}"></script>
</body>
</html>