<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Seoul-Cinema</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->

    <!--    &lt;!&ndash;        테스트용&ndash;&gt;-->
    <!--    <link href="../static/css/styles.css" rel="stylesheet"/>-->
    <!--        배포용-->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

</head>

<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Seoul Cinema</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" href="/movie">영화</a></li>
                <li class="nav-item"><a class="nav-link" href="/schedules">예매</a></li>
                <li class="nav-item"><a class="nav-link" href="/events">이벤트</a></li>
            </ul>
            <a class="d-flex">
                <button class="btn btn-outline-dark for-margin" type="submit">
                    <span th:unless="${loggedIn}" class="not-logged-in"><a href="/login">로그인</a></span>
                    <span th:if="${loggedIn}" class="logged-in"><a href="/api/auth/logout">로그아웃</a></span>
                </button>
                <button class="btn btn-outline-dark for-margin" type="submit" th:if="${loggedIn}">
                    <span th:if="${loggedIn}" class="logged-in"><a href="/api/tickets">내 티켓조회</a></span>
                </button>
                <button class="btn btn-outline-dark for-margin" type="submit" th:if="${loggedIn}">
                    <span th:if="${loggedIn}" class="logged-in"><a href="/api/payments">내 결제내역</a></span>
                </button>

            </a>
        </div>
    </div>
</nav>

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Seoul Cinema</h1>
            <p class="lead fw-normal text-white-50 mb-0">데이터베이스 설계 수업</p>
        </div>
    </div>
</header>

<main>
    <div class="py-5 text-center">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
             style="position: relative; left: 600px; top: 150px;">
            <div class="col">
                <div class="card shadow-sm">
                    <!--                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"-->
                    <!--                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"-->
                    <!--                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
                    <!--                        <rect width="100%" height="100%" fill="#55595c"/>-->
                    <!--                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->

                    <!--                    </svg>-->
                    <img th:src="@{/}+${ticketInfo.movieImg}" alt="..."/>
                    <div class="card-body">

                        <label>영화 이름: <span th:text="${ticketInfo.movieName}"></span></label>
                        <br>
                        <label>영화 시작시간: <span th:text="${ticketInfo.screeningStartTime}"></span></label>
                        <br>
                        <label>영화 종료시간: <span th:text="${ticketInfo.screeningEndTime}"></span></label>
                        <br>
                        <label>상영관: <span th:text="${ticketInfo.theaterFloor}">관</span></label>
                        <br>
                        <label>좌석 번호: <span th:text="${ticketInfo.seats}"></span></label>
                    </div>
                </div>
                <form th:action="@{/api/tickets}" th:method="get">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">티켓 예매 취소하기</button>
                </form>
            </div>

        </div>
    </div>

</main>

</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{js/scripts.js}"></script>
</body>
</html>

<style>
    .for-margin{
        margin-right : 10px;
    }
</style>